<% @posts.each do |post| %>

<div class = "span8 well">
   <ul style = "list-style: none;">
      <li>Title: 
        <%= link_to "#{post.title}", post_path(post) %>
        <% if logged_in? && session[:user_id] == post.user_id %>
          →  <%= link_to "edit", edit_post_path(post) %>
        <% end %>
      </li>

      <li>URL: <%= post.url %></li>
      <li>Description: <%= post.description %></li>
      <li>Posted by <%= post.user.username %></li>
    </ul>
  </div>
  <% end %>



