<h2>All posts on the system:</h3>



  <% @posts.each do |post| %>
    <ul>
      <li>Title: <strong><%= post.title %></strong></li>
      <li>URL: <%= post.url %></li>
      <li>Description: <%= post.description %></li>
      <li>Post by: User <%= post.user_id %></li>
      <li><%= link_to "Edit Post No. #{post.id}" , edit_post_path(post) %></li>
    </ul>
  <% end %>
