




<% @posts.each do |post| %>


<div class = "row">

  <div class = "span1 text-center well">
   <% if logged_in? %>
    <%= link_to '<i class="icon-chevron-up"></i>'.html_safe, vote_post_path(post, vote: 'true'), method: 'post', remote: true %><br>
   <% end %>
   <span id="post_<%=post.id%>_vote"><%= pluralize(post.total_votes, 'vote') %></span><br>
   <% if logged_in? %>
    <%= link_to '<i class="icon-chevron-down"></i>'.html_safe, vote_post_path(post, vote: 'false'), method: 'post', remote: true %>
  <% end %>
  </div>
  <div class = "span8 well">

   <ul style = "list-style: none;">
      <li>
        <%= link_to "#{post.title}", post_path(post) %>
        <% if logged_in? && session[:user_id] == post.user_id %>
          →  <%= link_to "edit post", edit_post_path(post) %>
        <% end %>
      </li>

      <li><%= link_to "#{post.url}", fix_url(post.url) %></li>
      <li><%= post.description %></li>
      <li>Posted by <%= link_to "#{post.user.username}", user_path(post.user_id) %> (<%= link_to "#{post.user.posts.count}", user_path(post.user_id) %>)
        <%= time_ago_in_words(post.created_at) %> ago • <%= pluralize(post.comments.length, 'comment') %></li>
    </ul>
    </div>
  </div>
  <% end %>



