<h3><%= @post.title %></h3>
<br>
<p>URL: <%= @post.url %></p>


<% if @comments.any? %>
  <h3>Comments:</h3>
<ul class = "unstyled">
  <% @comments.each do |comment| %>
  

      <li>
        <% if logged_in? %>
          <%= link_to '<i class="icon-chevron-up"></i>'.html_safe, vote_post_comment_path(@post, comment, vote: 'true'), method: 'post', remote: true %><br>
        <% end %>
        <span id="comment_<%=comment.id%>_vote"><%= pluralize(comment.total_votes, 'vote') %></span><br>
        <% if logged_in? %>
          <%= link_to '<i class="icon-chevron-down"></i>'.html_safe, vote_post_comment_path(@post, comment, vote: 'false'), method: 'post', remote: true %>
        <% end %>
         <p><%= comment.body %></p>
      </li>


  <% end %>
<% end %>


<h4>Leave a comment</h3>
  <br>

<%= form_for [@post, @comment] do |f| %>

  <%= f.label :body, 'Comment:' %>
  <%= f.text_field :body %>
  <br>
  <%= f.submit %>
<% end %>

