<h3><%= @post.title %></h3>
<br>
<p>URL: <%= @post.url %></p>


<% if @comments.any? %>
  <h3>Comments:</h3>
  <ul>
  <% @comments.each do |comment| %>
   <li><%= comment.body %>
  <% end %>
  </ul>
<% end %>
<br>
<br>
<h4>Leave a comment</h3>
  <br>

<%= form_for [@post, @comment] do |f| %>

  <%= f.label :body, 'Comment:' %>
  <%= f.text_field :body %>
  <br>
  <%= f.submit %>
<% end %>

